<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p align=center>&copy; Copyright 2017 T-Share Inc.</p>
            </div>
        </div>
    </div>
</footer>
    