
<div class="container" ng-controller="NoteEditorController">
    <div class="row row-content" ng-if="showNote">
        <div class="col-xs-12">
            <form ng-submit="saveNote()">
                <div class="form-group">
                    <h4>Text</h4>
                </div>
                <div class="form-group">
                    <textarea class="form-control" ng-model="note.text"></textarea>
                </div>
                <div class="checkbox col-xs-12" >
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="note.editable" ng-checked />Editable
                    </label>
                </div>
                <div class="form-group" ng-show="!note.editable">  
                        <input type="text" class="form-control" id="password" name="password"  
                                placeholder="Password" ng-model="note.password">
                </div>    
                <button type="submit" class="btn btn-primary">Save note</button>
            </form>
            <div class="col-xs-12" ng-show="note.short_url">
                <br>Short url: <a ng-href="{{note.short_url}}">{{note.short_url}}</a>
            </div> 
        </div>        
        </div class="col-xs-12">
            <div class="alert alert-danger" ng-show="showError">
                <strong>Error: </strong>Wrong password
            </div>
            <div class="alert alert-success" ng-show="showOk">
                <strong>Success: </strong>The note has been properly saved
            </div>
        </div> 
              
    </div> 
    <div class="row row-content" ng-if="!showNote">
        <div class="col-xs-12">
            <form ng-submit="goToNote(new_note_id)">
                <div class="form-group">
                    <h4>Write the name of the note you want to create</h4>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="new_note_id">
                </div>        
                {{ctrl.new_note_id}}        
                <button type="submit" class="btn btn-primary">Go to note</button>
            </form>
        </div>                      
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
          <button type="button" class="btn btn-default btn-xs" ng-click="toggleHelp()">Developer's help</button>
        </div>
        <div class="panel-body" ng-if="showHelp">
            <table class="table" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <th valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;"><strong>Address</strong></span></p>
                    </th>
                    <th valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">Verb</span></p>
                    </th>
                    <th valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">Description</span></p>
                    </th>
                    <th valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">Arguments</span></p>
                    </th>
                </tr>                
                <tr>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;"><strong>/</strong></span></p>
                    </td>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">GET</span></p>
                    </td>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">Get the main web page</span></p>
                    </td>
                    <td valign="top">
                    <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;"><strong>/:noteId</strong></span></p>
                    </td>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">GET</span></p>
                    </td>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">Get a web page for editing an existing or new note</span></p>
                    </td>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;"><em>noteId</em>: id of the note to retrieve</span></p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;"><strong>/api/note/:noteId</strong></span></p>
                    </td>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">GET</span></p>
                    </td>
                    <td valign="top">
                    <p align="justify"><span style="color: #000000; font-family: Helvetica; font-size: medium;">Get a JSON object with the text of the note and information on wether it is editable without password or not.</span></p>
                    </td>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;"><em>noteId</em>: id of the note to retrieve</span></p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;"><strong>/api/note/:noteId</strong></span></p>
                    </td>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">POST</span></p>
                    </td>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">Create a new note or update an existing one.</span></p>
                    <p>&nbsp;</p>
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">If the note is properly created or updated, it returns all the note information.</span></p>
                    </td>
                    <td valign="top">
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;"><em>noteId: id of the note to retrieve</em></span></p>
                    <p>&nbsp;</p>
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">Body of the POST request:</span></p>
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">- <em>editable</em>: flag to indicate if the note is editable or if requires a password</span></p>
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">- <em>password</em>: note password</span></p>
                    <p><span style="color: #000000; font-family: Helvetica; font-size: small;">- <em>text</em>: note text</span></p>
                    </td>
                </tr>
                </tbody>
            </table>
<!-- DivTable.com -->
        </div>
      </div> 
</div>
