<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    
    <script src="js/app.js"></script>
    
    
  </head>
  <body ng-app="tshare">

    <ion-pane ng-controller="NoteEditorController as noteController">
      <ion-header-bar class="bar-stable">
        <h1 class="title">T-Share</h1>
      </ion-header-bar>
      <ion-content>
        <form ng-submit="openNote()">
            <label class="item item-input">
              <input type="text" ng-model="noteController.note_id" placeholder="Note id"></input>
            </label>            
          <div class="row">
            <div class="col text-center">
                <button class="button button-positive" type="submit">Open the note</button>
            </div>
          </div>          
        </form>
        <form ng-submit="saveNote()" ng-if="noteController.note_loaded">
          <div class="list">
            <label class="item item-input">
              <textarea rows="7" ng-model="noteController.note.text"></textarea>
            </label>
            <li class="item item-toggle">
              Editable by anyone?
              <label class="toggle">
                <input type="checkbox" ng-model="noteController.note.editable">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label> 
            </li>
            <label class="item item-input" ng-if="!noteController.note.editable">
              <input type="text" ng-model="noteController.note.password" placeholder="Password"></input>
            </label>
            <label class="item item-input" ng-if="noteController.note.short_url">
              Short url: <a ng-href="{{noteController.note.short_url}}">{{noteController.note.short_url}}</a>
            </label>
            <div class="row">
              <div class="col text-center">
                  <button class="button button-positive" type="submit">Save the note</button>
              </div>
            </div>
          </div>        
        </form>

      </ion-content>
    </ion-pane>
  </body>
</html>
